.HeroCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    align-items: center;
    margin-top: 20px;
    border: none;
    background-color: inherit;
    width: 75%;
}

.Hero{
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 0px 5px 1px black;
}

.Hero img{
    height: 200px;
    justify-content: center;
    width: fit-content;
}

.Hero h5{
    text-align: center;
}

.Hero button{
    font-size: 15px;
    width: 100%;
}